<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.database_UserConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\database_User.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.Akatsuki2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Akatsuki2.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.PainConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Pain.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.bookConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\book.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.userjujhuConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\userjujhu.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.MgataoConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Mgatao.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.kayaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\kaya.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.rhonalyConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\rhonaly.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.qtyConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\qty.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>